#car-1,
#car-2 {
  width: 20%;
  position: absolute;
}

#car-1 {
  top: 0%;
  left: 0%;
}

#car-2 {
  bottom: 0%;
  left: 0%;
}

.animation-blinker {
  animation: blinker 0.9s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


