<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blinkathon</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/static/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/game.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-grass">
    <header
      class="bg-sky px-5 py-7 flex justify-center items-center p-5 min-h-[200px]"
    >
      <h1 class="text-4xl text-[#253b8a]">Blinkathon</h1>
    </header>
    <div class="p-5 text-white text-center">
      <p>Developed by Computer Vision Syndrome</p>
      <ul>
        <li>Thanapat Teerattanayu</li>
        <li>Napong Pipatbowornkul</li>
        <li>Sira Attawanich</li>
      </ul>
    </div>
  </body>
</html>
