<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blinkathon</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/game.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <style>
      img {
        pointer-events: none;
      }
    </style>
  </head>
  <body class="bg-green-700">
    <header class="px-5 py-7 text-center bg-slate-700 text-white relative">
      <h1 class="text-4xl">Blinkathon</h1>
      <p class="text-sm">This is a super cool game.</p>
      <p id="game-status" class="mt-5 animation-blinker">
        Press a button to start.
      </p>
      <div
        id="blink-counters"
        class="flex justify-between absolute inset-0 w-full p-5 text-white"
      >
        <p>Player 1<br /><span id="player1-blink-count">0</span> counts</p>
        <p class="text-right">
          Player 2<br /><span id="player2-blink-count">0</span> counts
        </p>
      </div>
    </header>
    <div id="game-console">
      <div id="game-graphic" class="relative">
        <img id="road" src="/static/image/road.jpg" alt="" />
        <div class="absolute h-full w-[80%] inset-0">
          <div class="relative h-full">
            <img
              id="car-1"
              src="/static/image/car1.png"
              style="display: none"
            />
            <img
              id="car-2"
              src="/static/image/car2.png"
              style="display: none"
            />
          </div>
        </div>
        <div
          class="absolute h-full w-full inset-0 p-5 flex justify-center items-center"
        >
          <button
            id="start-btn"
            class="btn-primary text-black hover:text-gray-600 disabled:text-gray-400 text-lg animate-bounce hover:animate-none ease-in-out"
            disabled="true"
            onclick="startGame()"
          >
            - Start -
          </button>
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center text-sm px-5 py-10">
        <a href="/about" class="text-white"
          >Blinkathon by Computer Vision Syndrome</a
        >
      </p>
    </footer>

    <div class="absolute bottom-0 left-0 w-[280px] p-5">
      <img id="server-live" class="pointer-events-none rounded-2xl" />
    </div>

    <video id="live-camera" autoplay style="display: none"></video>
    <canvas id="live-camera-preview" style="display: none"></canvas>
    <script src="/static/js/script.js" type="text/javascript"></script>

    <audio controls autoplay class="hidden">
      <source src="/static/sound/background.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
