<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blinkathon</title>
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="/static/css/game.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="bg-orange-400 p-5">
    <header>
      <h1 class="text-4xl">Blinkathon</h1>
      <p>This is a super cool game.</p>
    </header>
    <div id="game-console" class="my-10 flex flex-col justify-center items-center">
      <br>
      <div class="container" id="container">
        <!-- <div>
          <img id="gif" src="/static/image/giphy.gif" alt="">
          <img id="gif" src="/static/image/giphy.gif" alt="">
          <img id="gif" src="/static/image/giphy.gif" alt="">
          <img id="gif" src="/static/image/giphy.gif" alt="">
        </div> -->
        <div class="background">
          <img id="road" src="/static/image/road.jpg" alt="">
          <div>
            <img id="car_1" src="/static/image/car1.png"  style="display: none;">
          </div>
          <div>
            <img id="car_2" src="/static/image/car2.png"  style="display: none;">
          </div>
        </div>
      </div>
      <br>
      <p id="game-status">Press a button to start.</p>
      <!-- <button id="start-btn" class="btn-primary mt-2 text-black disabled:text-gray-400" disabled="true"
        onclick="startGame()">
        Start
      </button> -->

      <button id="start-btn" class="btn-primary mt-2 text-black" onclick="startGame()">
        Start
      </button>
    </div>
    <div class="flex justify-between">
      <p>Player 1<br /><span id="player1-blink-count">0</span> counts</p>
      <p class="text-right">Player 2<br /><span id="player2-blink-count">0</span> counts</p>
    </div>
    <div class="max-w-[400px] mx-auto bg-slate-200 border border-slate-400 rounded-lg">
      <img id="live-camera" alt="Live Camera" class="w-full h-full object-cover rounded-lg" />
    </div>
  </div>


  <footer>
    <p class="text-center text-sm px-5 py-2">
      <a href="/about" class="btn-primary">Blinkathon by Computer Vision Syndrome</a>
    </p>
  </footer>

  <script>
    const car1 = document.getElementById("car_1");
    const car2 = document.getElementById("car_2");
    const roadWidth = document.getElementById("road").clientWidth;
    const carWidth = car1.clientWidth;

    let car1Pos = 0;
    let car2Pos = 0;
    let counter1 = 0; // counter for player 1
    let counter2 = 0; // counter for player 2
    let speed = 8;
    let winSound = new Audio('/static/sound/win.wav');
    let bgMusic = new Audio('/static/sound/background.mp3');
    bgMusic.volume = 0.2; // set the volume to 50%
    winSound.volume = 0.3; // set the volume to 50%
    bgMusic.loop = true;
    bgMusic.play();

    const player1 = "P1";
    const player2 = "P2";

    // const handleKeyDown = (event) => {

      if (event.key === "ArrowLeft") {
        car1Pos = Math.max(car1Pos + speed, 0);
        car1.style.left = car1Pos + "%";
        counter1++; // increment counter for player 1
      } else if (event.key === "ArrowRight") {
        car2Pos = Math.max(car2Pos + speed, 0);
        car2.style.left = car2Pos + "%";
        counter2++; // increment counter for player 2
      }

      if (counter1 >= 10 || counter2 >= 10) { // check if either player has reached 10
        document.removeEventListener("keydown", handleKeyDown);
        const winner = document.createElement("p");
        winner.setAttribute("id", "win");
        winSound.play();
        bgMusic.pause();
        if (counter1 > counter2) { // check which player has moved farther
          winner.textContent = `${player1} wins!`;
        } else {
          winner.textContent = `${player2} wins!`;
        }
        document.body.appendChild(winner);
        winner.addEventListener('animationend', () => {
          winSound.pause();
        })
      };

    document.addEventListener("keydown", handleKeyDown);

    const countdownEl = document.getElementById("countdown");
    const startBtn = document.getElementById("start-btn");
    const gameContainer = document.getElementById("game-container");

    // hide the game container initially
    gameContainer.style.display = "none";

    // function to start the countdown
    const startCountdown = () => {
      let count = 3;
      countdownEl.textContent = count;
      const intervalId = setInterval(() => {
        count--;
        if (count === 0) {
          countdownEl.textContent = "Go!";
          clearInterval(intervalId);
          setTimeout(() => {
            countdownEl.style.display = "none";
            gameContainer.style.display = "block";
          }, 500);
        } else {
          countdownEl.textContent = count;
        }
      }, 1000);
    };

    startBtn.addEventListener("click", () => {
      startBtn.style.display = "none";
      countdownEl.style.display = "block";
      startCountdown();
    });
  </script>


  <script type="text/javascript" charset="utf-8">
    var videoPlayer = document.getElementById('live-camera');
    videoPlayer.src = '/video-feed';
  </script>
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function () {
      console.log('connected!');
    });

    setInterval(() => {
      socket.emit('blinkathon-status');
    }, 1000);

    socket.on('game', function (game) {
      console.log('game:', game);
      const startBtn = document.getElementById('start-btn');
      const container = document.getElementById('container');
      if (!!game.playable) {
        startBtn.disabled = false;
        container.disabled = true;
      } else {
        startBtn.disabled = true;
        container.disabled = false;
      }
      const gameStatus = document.getElementById('game-status');
      if (!!game.detecting) {
        gameStatus.innerText = "Blink!"
      }

      const player1BlinkCount = document.getElementById('player1-blink-count')
      player1BlinkCount.innerText = game.players[0].blinkCount
      const player2BlinkCount = document.getElementById('player2-blink-count')
      player2BlinkCount.innerText = game.players[1].blinkCount
      
      car1Pos = Math.max(car1Pos + game.players[0].blinkCount, 0);
      car1.style.left = car1Pos + "%";
      counter1++;
      car2Pos = Math.max(car2Pos + game.players[1].blinkCount, 0);
      car2.style.left = car2Pos + "%";
      counter2++; // increment counter for player 2
      // car1Pos = Math.max(player1BlinkCount + speed, 0);
      // car1.style.left = car1Pos + "%";
      // counter1++; // increment counter for player 1

      // car2Pos = Math.max(player2BlinkCount + speed, 0);
      // car2.style.left = car2Pos + "%";
      // counter1++; // increment counter for player 1
    });

    const startGame = () => {
      const startBtn = document.getElementById('start-btn');
      startBtn.style.display = "none"
      socket.emit('start-game');
      const gameStatus = document.getElementById('game-status');
      gameStatus.innerText = "Calculating... - Please keep your eyes open."
      const container = document.getElementById('container');
      container.style.display = "block"
      const car_1 = document.getElementById('car_1');
      car_1.style.display = "block"
      const car_2 = document.getElementById('car_2');
      car_2.style.display = "block"

    };

    window.onbeforeunload = function () {
      socket.emit('exit', { msg: 'Bye!' });
    };


  </script>
</body>

</html>